SERVER_PORT="myport"
# "panic" / "fatal" / "error" / "warn" / "info" / "debug" / "trace"
LOG_LEVEL=info

DB_HOST=Hostdb
DB_USER=Userdb
DB_PASSWORD=Passdb
DB_NAME=Namedb
DB_PORT=Portdb

ACCESS_TOKEN_KEY="secret_key"
REFRESH_TOKEN_KEY="secret_key_refresh"
ACCESS_TOKEN_DURATION=5m
REFRESH_TOKEN_DURATION=72h

CLOUDINARY_NAME=mycloudname
CLOUDINARY_API_KEY=myApiKey
CLOUDINARY_SECRET_KEY=myApiSecret
CLOUDINARY_DIR=myfolder